/* ||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||

    NOTE: All classes that have tag 'admin' on them,
    are customized from the developer, adding to Boostrap classes.

|||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

/* -------------------------- GENERAL -------------------------- */

html body {
    /* Google Font -> Roboto Mono */
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
    background-color: #e0e0e0;
    font-family: 'Roboto Mono', monospace, 'Open Sans', 'Helvetica Neue';
}

html textarea:focus,
html input[type='text']:focus,
html input[type='password']:focus,
html input[type='datetime']:focus,
html input[type='datetime-local']:focus,
html input[type='date']:focus,
html input[type='month']:focus,
html input[type='time']:focus,
html input[type='week']:focus,
html input[type='number']:focus,
html input[type='email']:focus,
html input[type='url']:focus,
html input[type='search']:focus,
html input[type='tel']:focus,
html input[type='color']:focus,
html .uneditable-input:focus {
    border-color: none;
    box-shadow: none;
    outline: none;
}

/* -------------------------- HEADER -------------------------- */

html .navbar-admin {
    border-bottom: 1px solid#5930b9;
    box-shadow: 15px 15px 30px #bebebe;
    padding: 1rem 0.5rem;
}

html .navbar-logo-admin {
    width: 2.5rem;
    margin: 0 0.4rem;
    transition: outline 0.1s ease;
}

html .navbar-logo-admin:hover {
    outline: 3px solid #5930b9;
    border-radius: 2rem;
    outline-offset: -2px;
}

html .navbar-title-admin {
    /* Google Font -> Bebas Neue */
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
    font-family: 'Bebas Neue', cursive, 'Roboto Mono', monospace, 'Open Sans', 'Helvetica Neue';
    margin: 0;
    letter-spacing: 0.35rem;
    font-size: 2rem;
    font-weight: 600;
    transition: letter-spacing 0.1s ease;
}

html .navbar-title-admin:hover {
    letter-spacing: 0.55rem;
}

html .navbar-toggler-admin {
    box-shadow: none;
    border-radius: 2rem;
    outline: 1px solid#5930b9;
    transition: outline-width 0.1s ease;
}

html .navbar-toggler-admin:hover {
    box-shadow: none;
    outline-width: 3px;
}

html .navbar-toggler-admin:focus {
    box-shadow: none;
    background-color: #7758bf;
}

html .login-button-top-admin {
    color: #ffffff;
    border: none;
    outline: 1px solid #5930b9;
    border-radius: 2rem;
    transition: outline-offset 0.1s ease;
    margin: 0 0.5rem;
}

html .login-button-top-admin:hover {
    outline: 1px solid #e0e0e0;
    outline-offset: -4px;
    background-color: #5930b9;
}

html .login-button-top-admin:focus {
    box-shadow: none;
    background-color: #7758bf;
}

/* -------------------------- LOGIN -------------------------- */

html .login-title-admin {
    margin: 3.5rem 0;
    background: linear-gradient(145deg, #5930b9, #e0e0e0);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 300;
}

html .sub-card-admin {
    display: flex;
    justify-content: center;
    margin: 0 3rem;
}

html .card-admin {
    border: none;
    border-radius: 2rem;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow: 25px 25px 50px #bebebe, -25px -25px 50px #ffffff;
    width: 32rem;
}

html .user-label-admin,
html .pass-label-admin {
    font-size: 1rem;
    font-weight: 500;
    color: #808080;
    letter-spacing: 0.15rem;
}

html .user-input-admin,
html .pass-input-admin {
    color: #5930b9;
    border: 1px solid #5930b9;
    background-color: #ebebeb;
    border-radius: 2rem;
}

html .user-input-admin:focus,
html .pass-input-admin:focus {
    background-color: #eeeeee;
    border: 1px solid #808080;
}

html .login-button-admin {
    font-size: 1.5rem;
    color: #ffffff;
    background-color: #5930b9;
    border: none;
    outline: 1px solid #5930b9;
    border-radius: 2rem;
    height: 4rem;
    width: 100%;
    transition: outline-offset 0.1s ease;
}

html .login-button-admin:hover {
    outline: 1px solid #e0e0e0;
    outline-offset: -4px;
}

html .login-button-admin:focus {
    background-color: #7758bf;
}

html .forgot-admin {
    color: #5930b9;
    display: block;
}

html .forgot-admin:hover {
    color: #7758bf;
}

html .hr-login-admin {
    border-radius: 2rem;
    border-top: 1.5px solid#888888;
    background-color: #888888;
    margin: 2.2rem 0;
}

html .or-label-admin {
    font-size: 0.85rem;
    font-weight: 500;
    color: #808080;
    letter-spacing: 0.15rem;
}

html .register-card-admin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

html .register-redirection-admin {
    text-decoration: none;
    line-height: 2.85rem;
    text-align: center;
    font-size: 1.3rem;
    color: #ebebeb;
    background-color: #c5c5c5;
    border: none;
    outline: 1px solid #ececec;
    border-radius: 2rem;
    height: 3rem;
    width: 60%;
    margin-top: 0.5rem;
    transition: background-color 0.1s ease;
    transition: width 0.1s ease;
}

html .register-redirection-admin:hover {
    color: #ffffff;
    background-color: #7758bf;
    width: 64%;
}

/* -------------------------- REGISTER -------------------------- */

html .register-title-admin {
    margin: 3.5rem 0;
    background: linear-gradient(145deg, #5930b9, #e0e0e0);
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 300;
}

html .user-reg-label-admin,
html .pass-reg-label-admin,
html .email-reg-label-admin {
    font-size: 1rem;
    font-weight: 500;
    color: #808080;
    letter-spacing: 0.15rem;
}

html .email-reg-info-label-admin {
    font-size: 0.85rem;
    color: #999999;
}

html .user-reg-input-admin,
html .pass-reg-input-admin,
html .email-reg-input-admin,
html .eyepass-admin {
    color: #5930b9;
    border: 1px solid #5930b9;
    background-color: #ebebeb;
    border-radius: 2rem;
}

html .user-reg-input-admin:focus,
html .pass-reg-input-admin:focus,
html .email-reg-input-admin:focus {
    background-color: #eeeeee;
    border: 1px solid #808080;
}

html .block-reg-pass-admin {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

html .pass-reg-input-admin {
    border-radius: 2rem 0 0 2rem;
    padding: 0.4rem 0.8rem;
    max-width: 22rem;
}

html .eyepass-admin {
    border-radius: 0 2rem 2rem 0;
    width: 3rem;
    height: 2.4rem;
    color: #ebebeb;
    border: 1px solid #5930b9;
    background-color: #5930b9;
}

html .eyepass-admin:hover {
    color: #ebebeb;
    border: 1px solid #5930b9;
    background-color: #7758bf;
}

html .submit-reg-admin {
    font-size: 1.5rem;
    color: #ffffff;
    background-color: #5930b9;
    border: none;
    outline: 1px solid #5930b9;
    border-radius: 2rem;
    height: 4rem;
    width: 100%;
    transition: outline-offset 0.1s ease;
}

html .submit-reg-admin:hover {
    outline: 1px solid #e0e0e0;
    outline-offset: -4px;
}

html .submit-reg-admin:focus {
    background-color: #7758bf;
}

/* -------------------------- FOOTER -------------------------- */

html .footer-admin {
    background-color: #e0e0e0;
    border-top: 1px solid #5930b9;
    box-shadow: -15px -15px 30px #bebebe;
}

html .footer-p-admin {
    margin: 2px;
    font-size: 0.9rem;
}

/* -------------------------- MEDIA QUERIES -------------------------- */

@media (max-width: 525px) {
    html .user-label-admin,
    html .pass-label-admin {
        font-size: 0.88rem;
        letter-spacing: 0.125rem;
    }

    html .login-button-admin {
        font-size: 1.3rem;
    }
}
